// Typography

// Font-family "DM Sans", sans serif
$font-family-primary: "DM Sans", sans-serif;

// Weights
$font-weight-lite: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

// Sizes
$font-size-base: 16px; // Base size for body text
$font-size-sm: 14px; // Small text
$font-size-md: 18px; // Medium text
$font-size-lg: 24px; // Large text
$font-size-xl: 32px; // Extra large text

// Line heights
$line-height-base: 1.5;
$line-height-heading: 1.2;

// Styles
$font-style-italic: italic;
$font-style-normal: normal;