@import './resets';
@import './typography';
@import './colors';

// Body 
body {
    background-color: $bg-color-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    font-family: $font-family-primary;
    color: $text-color-primary;
    gap: 2rem;

    .card-container::before {
        content: '';
        position: absolute;
        top: -20px;
        right: -20px;
        width: 100px;
        height: 100px;
        background: radial-gradient(circle, rgba(0, 255, 0, 0.5), transparent);
        border-radius: 50%;
        box-shadow: 0 0 20px rgba(0, 255, 0, 0.3);
        animation: glow 2s infinite alternate;
    }

    .card-container {
        width: 300px;
        padding: 1.25rem;       
        border-radius: 1rem;
        background: linear-gradient(135deg, hsl(120, 87%, 42%), hsl(155, 100%, 50%));
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        position: relative;
        transition: all 0.3s ease;
        display: flex;
        flex-direction: column;

        &.green {
            background: linear-gradient(135deg, hsl(120, 91%, 39%), hsl(155, 100%, 50%));
        }

        &.purple {
            background: linear-gradient(135deg, hsl(275, 94%, 40%), hsl(292, 84%, 61%));
        }

        &::before {
            content: '';
            position: absolute;
            top: 10px;
            right: 10px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.3);
            box-shadow: 0 0 10px 5px rgba(206, 186, 186, 0.5);
        }
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            display: flex;
            margin-bottom: 0.5rem;

            ion-icon {
                font-size: $font-size-md;
                font-weight: $font-weight-bold;

                &.check {
                    color: hsl(120, 67%, 72%);
                }
            }
        }
    }

    .description {
        margin-bottom: 1.5em;
        margin-top: 1.5em;
    }

    .description p {
        margin-bottom: 1.5em;
    }

    .description .small-text {
        font-size: $font-size-sm;
    }

    .green-cta-btn {
        padding: 0.75rem 1.5rem;
        margin-top: 1.5rem;
        border: none;
        border-radius: 0.5rem;
        background-color: hsl(120, 91%, 39%);
        color: $text-color-primary;
        font-size: $font-size-md;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #ddd;
        }
    }

    .purple-cta-btn {
        padding: 0.75rem 1.5rem;
        margin-top: 1.5rem;
        border: none;
        border-radius: 0.5rem;
        background-color: hsl(275, 94%, 40%);
        color: $text-color-primary;
        font-size: $font-size-md;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #ddd;
        }
    }
}