@import './resets';
@import './typography';
@import './colors';

// Body 
body {
    background-color: $bg-color-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    font-family: $font-family-primary;
    color: $text-color-primary;
    gap: 2rem;

    .card {
        position: relative;
    }

    .card-container {
        padding: 1.25rem;       
        border-radius: 1rem;
        box-shadow: 0 4px 15px rgba($color: #000000, $alpha: 1.0);

        &.green {
            background: linear-gradient(135deg, hsl(120, 82%, 33%), hsl(155, 100%, 50%));
        }

        &.purple {
            background: linear-gradient(135deg, hsl(275, 86%, 36%), hsl(292, 84%, 61%));
        }

        &::before {
            content: '';
            position: absolute;
            top: 10px;
            right: 10px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.3);
        }
    }

    .description {
        margin-bottom: 1em;
    }

    .description .small-text {
        font-size: $font-size-sm;
    }

    .green-cta-btn {
        padding: 0.75rem 1.5rem;
        margin-top: 1.5rem;
        border: none;
        border-radius: 0.5rem;
        background-color: #fff;
        color: $text-color-secondary;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #ddd;
        }
    }

    .purple-cta-btn {
        padding: 0.75rem 1.5rem;
        margin-top: 1.5rem;
        border: none;
        border-radius: 0.5rem;
        background-color: #fff;
        color: $text-color-secondary;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #ddd;
        }
    }
}